#start_canvas {
    position:absolute; left: 50%; width: 400px; margin-left: -200px;
    opacity: 100%;

}

#intro{
    font-size: 500%;
    position:absolute; left: 50%; width: 400px; margin-left: -200px; margin-top: 75px;
}

#start_button {
    font-size: 150%;
    position:absolute; left: 50%; width: 400px; margin-left: -200px; margin-top: 400px;
}

#canvas {
    /*border: solid black 5px;*/
    position:absolute; left: 50%; width: 400px; margin-left: -200px;
    /*background-color: black;*/
    opacity: 100%;
}


#title_card {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: blue;
    font-weight: bold;
    outline-color: white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

}

#game-instructions {
    font-size: 200%;
    color: dodgerblue;
    font-family: 'Permanent Marker', cursive;
}

#point-structure {
    font-size: 200%;
    color: white;
    font-family: 'Permanent Marker', cursive;
    float: right;
}

#green{
    text-align-last: right;
    color: green;
    float: right;

}

#yellow{
    text-align-last: right;
    color: yellow;
    float: right;
}

#red{
    text-align-last: right;
    color: red;
    float: right;
}

#purple{
    text-align-last: right;
    margin-right: 0px;
    color: purple;
}

#points{
    text-align-last: right;
    float: right;
    text-decoration: underline;
}

h1 {
    font-size: 200%;
    color: dodgerblue;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border: solid dodgerblue 5px;
}
body {
    background-image: url("space4.jpg");
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}